/*Google Font Import - Poppins*/
@import url('https://fonts.google.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*==== Colors ====*/
    --body-color: #e8edf8;
    --sideber-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /*==== Transition ====*/
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    height: 100vh;
    background: var(--body color);
    transition: var(--tran-05);

}

body.dark{

    --body-color: #18191A;
    --sideber-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/*==== Sideber ====*/

.sideber{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sideber-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sideber.close{
    width: 88px;
}

/*==== Resuable CSS ====*/
.sideber .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sideber.close .text{
    opacity: 0;
}

.sideber .text{
    opacity: 1;
}


.sideber .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.sideber li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sideber li .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;

}

.sideber li .icons,
.sideber li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sideber header{
    position: relative;
}

.sideber .image-text img{
    width: 40px;
    border-radius: 6px;

}

.sideber header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .headet-text{
    display: flex;
    flex-direction: column;
}

.headet-text .name{
    font-weight: 600;
}

.headet-text .profession{
    margin-top: -2px;
}

.sideber header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sideber-color);
    font-size: 22px;
    transition: var(--tran-03);

}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}

body.dark .sideber header .toggle{
    color: var(--text-color);
}

.sideber .menu{
    margin-top: 35px;
}


.sideber .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sideber li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);

}

.sideber li a:hover{
    background: var(--primary-color);
}

.sideber li a:hover .icons,
.sideber li a:hover .text{
    color: var(--sideber-color);
}

body.dark .sideber li a:hover .icons,
body.dark .sideber li a:hover .text{
    color: var(--text-color);
}
.sideber .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

.body.drak .menu-bar .mode i.sun{
    opacity: 1;
}

.body.drak .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sideber-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;

}

.home{
    position: realtive;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}